body {
  background: rgba(0, 0, 0, 0.1);
}
.container {
  height: 100vh;
}
.mainbtn {
  width: 100px;
  font-size: 20px;
  font-weight: 400;
  border-radius: 15px;
  outline: none;
}
.modal-body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 600;
}
